.theraphyEffects {
  width: 100%;
  .theraphyEffects__container {
    width: 100%;
    max-width: 1416px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 40px 80px;
    @media (max-width: 1200px) {
      padding: 20px 40px;
    }
    @media (max-width: 768px) {
      padding: 20px;
      align-items: center;
    }
    .theraphyEffects__title {
      margin-bottom: 40px;

      h2 {
        font-size: 48px;
        font-family: Noto serif;
        font-weight: 300;
        color: #654922;
        @media (max-width: 1200px) {
          font-size: 40px;
        }
        @media(max-width:768px) {
          font-size: 32px;
        }
      }
    }

    .theraphyEffects__content {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 50px;
      @media (max-width: 1200px) {
        gap: 20px;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .content_left {
        width: 100%;
        max-width: 620px;
        @media (max-width: 1200px) {
          width: unset;
          max-width: unset;
        }
        .left_txt {
          .showinfo {
            width: fit-content;
            margin: 0 auto 20px;
            display: none;
            @media(max-width:768px) {
                display: block;
            }
            button {
              background-color: #fff;
              border: none;
              cursor: pointer;
              margin-bottom: 6px;
              font-size: 16px;
              font-family: Noto serif;
              font-weight: 300;
              color: #000;
            }
            .line {
              width: 100%;
              border: 1px solid #222225;
            }
          }
          
          p {
            font-size: 24px;
            font-family: Noto serif;
            font-weight: 300;
            margin-bottom: 20px;
            @media (max-width: 1200px) {
              font-size: 20px;
            }
            @media(max-width:768px) {
              font-size: 16px;
            }
          }
        }
      }
      .content_right {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 610px;
        @media (max-width: 768px) {
          order: -1;
          // display: none;
        }

        .right_images {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          position: relative;
          @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
          }
        
          img {
            max-width: 280px;
            transition: all 300ms ease;
            transform:scale(1);
            @media (max-width: 1200px) {
              max-width: 150px;
            }
            @media(max-width:768px) {
                width: 100%;
                height: auto;
                max-width: none;

               }
            @media (max-width: 768px) {
              max-width: none;
            }
          }
          img:hover {
            transform: scale(1.06);
          }
          .line1 {
            position: absolute;
            width: 1px;
            height: 310px;
            background-color: #654922;
            rotate: 90deg;
            top: -180px;
            right: 82px;
            @media (max-width: 1200px) {
              height: 100px;
              top: -64px;
              right: 30px;
            }
            @media (max-width: 768px) {
              display: none;
            }
          }

          .line2 {
            position: absolute;
            width: 1px;
            height: 400px;
            background-color: #654922;
            top: -70px;
            right: -26px;
            @media (max-width: 1200px) {
              height: 200px;
              top: -28px;
              right: -8px;
            }
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
        .right_bottom {
          display: flex;
          justify-content: space-between;
          align-items: start;
          gap: 10px;
          @media(max-width:768px) {
            width: 100%;
          }
          .right_text {
            max-width: 280px;
            @media (max-width: 1200px) {
              max-width: 150px;
            }
            @media(max-width:768px) {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            @media(max-width:768px) {
                width: 50%;
                height: 100%;
                max-width: none;
            }
            div {
                  h4 {
                  font-size: 28px;
                  font-weight: 300;
                  font-family: Noto serif;
                  color: #654922;
                  @media (max-width: 1200px) {
                    font-size: 20px;
                  }
                }
                p {
                  font-size: 18px;
                  font-weight: 300;
                  font-family: Noto serif;
                  @media (max-width: 1200px) {
                    display: none;
                  }
                }
            }

          }
          .image {
            text-align: right;
            @media(max-width:768px) {
                width: 50%;
            }
            .box {


                img {
                  max-width: 280px;
                  transition: all 300ms ease;
                  transform:scale(1);
                  @media (max-width: 1200px) {
                    max-width: 150px;
                  }
                  @media (max-width: 768px) {
                    max-width: none;
                    text-align: end;
                    width: 100%;                
                  }
                }
                img:hover {
                  transform: scale(1.06);
                }
            }
          }
        }
      }
    }
  }
}
