.result {
  width: 100%;
  .result__container {
    width: 100%;
    max-width: 1416px;
    margin: 0 auto;
    padding: 20px;
    .result__title {
      h2 {
        font-size: 48px;
        font-family: Noto serif;
        font-weight: 300;
        color: #654922;
        max-width: 800px;
        @media (max-width: 1200px) {
          font-size: 40px;
        }
        @media(max-width:768px) {
            font-size: 32px;
            text-align: center;
        }
      }
      margin-bottom: 60px;
    }

    .result__content {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 20px;
      @media (max-width: 1200px) {
        justify-content: center;
        gap: 50px;
      }
      .content_left {
        ul {
          li {
            display: flex;
            justify-content: start;
            align-items: center;
            border-bottom: 1px solid #c8c5c5;
            border-top: 1px solid #c8c5c5;
            padding: 20px 10px;
            gap: 10px;
            max-width: 650px;
            @media (max-width: 1200px) {
                padding: 20px 0 ;
                gap: 6px;
            }
            .round {
              width: 60px;
              height: 60px;
              border: 1px solid #000;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              font-family: Noto serif;
              font-weight: 300;
              @media (max-width: 1200px) {
                width: 40px;
                height: 40px;
                font-size: 16px;
              }
            }
            .arrow {
              svg {
                @media (max-width: 1200px) {
                  display: none;
                }
              }
            }
            p {
              font-size: 20px;
              font-family: Noto serif;
              font-weight: 300;
              @media (max-width: 1200px) {
                font-size: 16px;
              }
            }
          }
        }
      }
      .content_right {
        padding: 0 40px 40px 0;
        @media(max-width:768px) {
            display: none;
        }
        .right_imgBox {
          position: relative;
          img {
            width: 520px;
            height: 524px;
            @media (max-width: 1200px) {
              width: 350px;
              height: 354px;
            }
          
          }
          &:hover {
            .lines {
              bottom: -26px;
              right: -20px;
            }
          }
          .lines {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50px;
            height: 50px;
            // background-color: red;
            transition: all 300ms;
           
            .line1 {
              position: absolute;
              width: 485px;
              height: 1px;
              border-bottom: 1px solid #654922;
              right: -40px;
              bottom: -10px;
              @media (max-width: 1200px) {
                width: 280px;
              }
            }

            .line2 {
              position: absolute;
              width: 1px;
              height: 310px;
              border-left: 1px solid #654922;
              bottom: -30px;
              right: -20px;
              @media (max-width: 1200px) {
                height: 150px;
              }
            }
          }
        }
      }
    }
  }
}
