.certificates {
  width: 100%;
  .certificates__container {
    width: 100%;
    max-width: 1416px;
    margin: 0 auto;
    padding: 20px;
    .certificates__title {
      margin-bottom: 40px;
      h2 {
        font-size: 48px;
        font-family: Noto serif;
        font-weight: 300;
        color: #654922;
        @media (max-width: 1200px) {
          font-size: 38px;
        }
        @media (max-width: 768px) {
          font-size: 30px;
          text-align: center;
        }
      }
    }
  }
}
.swiperSlide {
  width: 330px !important;
  @media (max-width: 768px) {
    width: 240px !important;
  }
}
