.contactMe {
  width: 100%;
  .contactMe__container {
    width: 100%;
    max-width: 1416px;
    margin: 0 auto;
    padding: 20px;

    .contactMe__title {
      margin-bottom: 20px;
      h2 {
        font-size: 48px;
        font-family: "Noto Serif", serif;
        font-weight: 300;
        color: #654922;
        @media (max-width: 1200px) {
          font-size: 40px;
        }
        @media (max-width: 768px) {
          font-size: 32px;
        }
      }
    }
    .contactMe__content {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 30px;
      @media (max-width: 1200px) {
        gap: 20px;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .text {
        width: 100%;
        max-width: 600px;
        @media (max-width: 768px) {
          max-width: none;
        }
        .btn {
          width: 100%;
          button {
            display: block;
            width: 288px;
            background-color: #654922;
            border-radius: 72px;
            height: 60px;
            margin-bottom: 20px;
            color: #fff;
            font-size: 18px;
            font-family: Inter;
            font-weight: 300;
            text-align: center;
            margin: 0 auto;
            transition: background-color 300ms ease;
            @media(max-width:768px) {
              max-width: 188px;
              height: 50px;
            }
            &:hover {
              background-color: #a16613;
            }
          }
        }
        p {
          font-size: 24px;
          font-weight: 300;
          font-family: "Noto Serif", serif;
          @media (max-width: 1200px) {
            font-size: 20px;
          }
          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;
          padding: 20px;
          li {
            margin-bottom: 20px;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #000;
              box-sizing: content-box;
              position: absolute;
              top: 12px;
              left: -20px;
            }

            span {
              font-size: 24px;
              font-family: "Noto Serif", serif;
              font-weight: 300;
              @media (max-width: 1200px) {
                font-size: 20px;
              }
              @media (max-width: 768px) {
                font-size: 16px;
              }
            }
          }
        }
      }
      .image {
        @media (max-width: 768px) {
          order: -1;
        }

        .imageBox {
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 300ms ease;
            transform: scale(1);
            &:hover {
              transform: scale(1.04);
            }
            @media (max-width: 768px) {
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}
